<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639712765365-it5m2eiku9rt3lr6ov48d257hjak3dmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639712765365-it5m2eiku9rt3lr6ov48d257hjak3dmq</string>
	<key>API_KEY</key>
	<string>AIzaSyA00BMikY7SiubuS_7Hil_R1NLy9tuknvU</string>
	<key>GCM_SENDER_ID</key>
	<string>639712765365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hawaiJubu</string>
	<key>PROJECT_ID</key>
	<string>airventure-da32a</string>
	<key>STORAGE_BUCKET</key>
	<string>airventure-da32a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639712765365:ios:89a2af05d1842211ca65fc</string>
</dict>
</plist>